{% extends 'base.html' %}

{% block main %}
    <article class="post post-{{ post.pk }}">
        <header class="entry-header">
            <h1 class="entry-title">{{ post.title }}</h1>
            <div class="entry-meta">
                <span class="post-category"><a href="#">{{ post.category.name }}</a></span>
                <span class="post-date"><a href="#"><time class="entry-date"
                                                datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
                <span class="post-author"><a href="#">{{ post.author }}</a></span>
                <span class="comments-link"><a href="#">{{ post.comment_set.all.count }} 评论</a></span>
                <span class="views-count"><a href="#">{{ post.views }} 阅读</a></span>
            </div>
        </header>
    <div class="entry-content clearfix">
        {{ post.body|safe }}
    </div>
    </article>

    <section class="comment-area">
    <hr>
    <h3>发表评论</h3>
    <form action="{% url 'comments:post_comment' post.pk %}" method="post" id="comments-form">
    {% csrf_token %}
    <div id="comments-open-data">
        <div id="comment-form-name">
            <p>
                <label for="{{ form.name.id_for_label }}">您的大名:</label>
            </p>
            <p>
                {{ form.author }}
                {{ form.author.errors }}
                <span class="hint"> <<-必填</span>
            </p>
        </div>
        <div id="comment-form-email">
            <p>
                <label for="{{ form.email.id_for_label }}">电子邮箱:</label>
            </p>
            <p>
                {{ form.email }}
                {{ form.email.errors }}
                <span class="hint"> <<-必填 不公开</span>
            </p>
        </div>
        <div id="comment-form-url">
            <p>
                <label for="{{ form.url.id_for_label }}">个人网址:</label>
            </p>
            <p>
                {{ form.url }}
                {{ form.url.errors }}
                <span class="hint"> <<-我信任你，不会填写广告链接</span>
            </p>
        </div>

        <div class="comments-open-text">
            <p>
             <label for="{{ form.body.id_for_label }}">您的留言:</label>
            </p>
            <p>
                {{ form.body }}
                {{ form.body.errors }}
            </p>
            <button type="submit" class="comment-bin">发表</button>
        </div>
    </div>
</form>
<div class="comment-list-panel">
    <h3>评论列表,共 <span>{{ post.comment_set.count }}</span>条评论</h3>
    <ul class="comment-list list-unstyled">
        {% for comment in comment_list %}
            <li class="comment-item">
                <span class="nickname">{{ comment.author }}</span>
                <time class="submit-data" datetime="{{ comment.comment_time }}">{{ comment.comment_time }}</time>
                <div class="text">
                    {{ comment.body }}
                </div>
            </li>
        {% empty %}
            暂无评论
        {% endfor %}
    </ul>
</div>
</section>
 
{% endblock main %}

{% block toc %}
     <div class="widget widget-content">
        <h3 class="widget-title">文章目录</h3>
         {{ post.toc|safe }}
    </div>
{% endblock toc %}


